.git
.gitignore
venv/
.venv/
env/
__pycache__/
*.pyc
.env
*.pyo
*.pyd
.Python
env.bak/
venv.bak/
credenciales_usuario.json
comunah_local.sql
Komunah_local.sql
reporte_amortizaciones_completo.csv
reporte_cartera_vencida_completo.csv
reporte_pagos_completo.csv
reporte_ventas_completo.csv
# serviceAccountKey.json
sesion_google.json